<link rel="stylesheet" href="/css/style.css">

<div class="form-container">
<h2 class="text-center">Đăng ký tài khoản</h2>
  <form method="post" action="/auth/register">
    <label>Username:</label>
    <input type="text" name="username" required><br>

    <label>Password:</label>
    <input type="password" name="password" required><br>

    <label>Email:</label>
    <input type="email" name="email"><br>

    <label>Số điện thoại:</label>
    <input type="text" name="phone"><br>

    <button type="submit">Đăng ký</button>
  </form>
  <div class="text-center">
  <a href="/auth/login">Đã có tài khoản? Đăng nhập</a>
  </div>
</div>
